* {
    box-sizing: border-box;
}
:root {
    --primary_font: "Poppins", sans-serif;
    --primary_color: #b88e2f;
}
html {
    font-size: 62.5%;
    font-family: var(--primary_font);
}

body,
input,
textarea,
button {
    font-size: 1.6rem;
    font-family: var(--primary_font), -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}
/* Shared */
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
}

/* Header */
.header {
    display: flex;
    padding: 30px 55px;
    align-items: center;
    justify-content: space-between;
}
.header .logo {
    display: flex;
    align-items: center;
    gap: 5px;
}
.header .logo .logo_brand {
    width: 50px;
    height: auto;
    object-fit: cover;
}
.header .logo .brand_name {
    color: #b88e2f;
    /* font-family: Montserrat; */
    font-size: 30px;
    font-weight: 600;
}
.header .navigation {
    display: flex;
    gap: 75px;
}
.header .navigation a {
    color: #000;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
}
.header .user_function {
    display: flex;
    gap: 45px;
}
/* Hero */
.hero {
    position: relative;
}
.hero .hero_img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.hero .hero_info {
    width: 45%;
    position: absolute;
    padding: 62px 56px 45px 37px;
    background: #fff3e3;
    border-radius: 10px;
    top: 22%;
    right: 4%;
}
.hero .hero_info .hero_title {
    color: #333;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    display: inline-block;
    padding-left: 3px;
}
.hero .hero_info .hero_heading {
    color: #b88e2f;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
    width: 85%;
    margin-bottom: 17px;
}
.hero .hero_info .hero_desc {
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.33; /* 133.333% */
    margin-bottom: 56px;
}
.hero .hero_info .hero_btn {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 25px 72px;
    background-color: #b88e2f;
    border-radius: 10px;
}
/* Range */
.range {
    padding: 56px 130px 28px;
    background-color: #fff;
}
.range .range_heading {
    color: #333;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.range .range_desc {
    color: #666;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.range .image_range {
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
}
.range .image_range .image_range_item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.range .image_range .image_range_item:nth-child(2) {
    padding-right: 5px;
}
.range .image_range .image {
    width: 280px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}
.range .image_range .image_range_item .title {
    text-align: center;
    margin-top: 20px;
    color: #333;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
/* Our products */
.our_products {
    padding: 28px 102px 70px;
}
.our_products .heading {
    text-align: center;
    color: #3a3a3a;
    font-size: 4rem;
    font-weight: 700;
    line-height: 120%; /* 48px */
}
.our_products .product_block .product_row {
    display: flex;
    gap: 32px;
    margin-top: 32px;
}
.our_products .product_block .product_item {
    width: 24%;
    position: relative;
}
.our_products .product_block .product_item:hover {
    background-color: #666666;
}
.our_products .product_block .product_item:hover .image_product,
.our_products .product_block .product_item:hover .content {
    opacity: 0.3;
}
.our_products .product_block .product_item:hover .overlay {
    opacity: 1;
}
.our_products .product_block .product_item .overlay {
    position: absolute;
    top: 30%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.overlay .add_to_cart {
    color: var(--Primary, #b88e2f);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    padding: 12px 40px;
    background-color: #fff;
    margin-bottom: 24px;
}
.overlay .add_to_cart:hover {
    opacity: 0.9;
}
.overlay .act_product {
    display: flex;
    gap: 20px;
}
.overlay .act_product span {
    color: var(--color-white, #fff);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}
.our_products .product_block .product_item:first-child.sale::before {
    content: "-30%";
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    background-color: #e97171;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 10px;
    right: 10px;
}

.our_products .product_block .product_item:nth-child(3).sale::before {
    content: "-50%";
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    background-color: #e97171;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 10px;
    right: 10px;
}

.our_products .product_block .product_item:nth-child(2).new_product::before {
    content: "NEW";
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    background-color: #2ec1ac;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 10px;
    right: 10px;
}
.our_products .product_block .product_item:nth-child(4).new_product::before {
    content: "NEW";
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    background-color: #2ec1ac;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 10px;
    right: 10px;
}
.our_products .product_block .product_item:nth-child(6).new_product::before {
    content: "NEW";
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    background-color: #2ec1ac;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 10px;
    right: 10px;
}
.our_products .product_block .product_item .image_product {
    width: 100%;
    height: 270px;
    object-fit: cover;
    display: block;
}
.our_products .product_block .product_item .content {
    padding: 16px 16px 20px;
    background: #eeebeb;
}
.our_products .content .header_product {
    color: #3a3a3a;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
    margin-bottom: 5px;
}
.our_products .content .title_product {
    color: #898989;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    margin-bottom: 5px;
}
.our_products .content .price_sale {
    color: #3a3a3a;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}
.our_products .content .price {
    color: #b0b0b0;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-decoration-line: line-through;
    display: block;
}
.our_products .show_more {
    text-align: center;
}
.our_products .show_more_product {
    display: inline-block;
    text-align: center;
    margin-top: 32px;
    color: var(--primary_color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    padding: 12px 74px;
    border: 1px solid var(--primary_color);
}
/* Show product */
.show_product {
    padding: 44px 74px 44px 100px;
    background: #fcf8f3;
    display: flex;
    position: relative;
}
.show_product .info_show {
    width: 40%;
    margin-top: 180px;
    margin-right: 42px;
}
.show_product .info_show .info_header {
    color: #3a3a3a;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    margin-bottom: 7px;
}
.show_product .info_show .info_desc {
    color: #616161;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    margin-bottom: 25px;
}
.show_product .image_show {
    display: flex;
    gap: 24px;
}
.show_product .info_show .info_btn {
    padding: 12px 36px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 150%; /* 24px */
    background: var(--primary_color);
}
.show_product .image_show .image_1 {
    width: 55%;
    height: 582px;
    object-fit: cover;
}
.show_product .image_show .image_2 {
    width: 40%;
    height: 486px;
    object-fit: cover;
}
.show_product .image_show .info_image {
    padding: 32px 17px 32px 32px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(1.5px);
    position: absolute;
    bottom: 68px;
    left: 570px;
}
.show_product .image_show .info_image .number,
.show_product .image_show .info_image .position {
    color: #616161;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
.show_product .image_show .info_image .number {
    position: relative;
    display: inline-block;
    margin-right: 43px;
}
.show_product .image_show .info_image .number::before {
    width: 27px;
    height: 1px;
    content: "";
    display: inline-block;
    background-color: #616161;
    position: absolute;
    top: 11px;
    left: 25px;
}
/* Feedback */
.feedback {
    padding: 67px 0 50px;
    position: relative;
    height: 850px;
}
.feedback .title {
    color: #616161;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: 150%; /* 30px */
    margin-bottom: 8px;
}
.feedback .hash_tag {
    color: #3a3a3a;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 120%; /* 48px */
}

.feedback .img_pos {
    position: absolute;
}
.feedback .img_feedback_1 {
    width: 7%;
    height: 42.7%;
    object-fit: cover;
    left: 0;
    top: 14%;
}
.feedback .img_feedback_2 {
    width: 14.5%;
    height: 36%;
    object-fit: cover;
    left: 0%;
    top: 58.2%;
}
.feedback .img_feedback_3 {
    width: 31.3%;
    height: 34.8%;
    object-fit: cover;
    top: 21.9%;
    left: 8%;
}
.feedback .img_feedback_4 {
    width: 23.8%;
    height: 27%;
    object-fit: cover;
    top: 58.2%;
    left: 15.5%;
}
.feedback .img_feedback_5 {
    width: 20.4%;
    height: 43.7%;
    object-fit: cover;
    top: 30%;
    left: 40%;
}
.feedback .img_feedback_6 {
    width: 20%;
    height: 39%;
    object-fit: cover;
    top: 25%;
    right: 18.8%;
}
.feedback .img_feedback_7 {
    width: 12.2%;
    height: 242px;
    object-fit: cover;
    top: 65.6%;
    right: 26.6%;
}
.feedback .img_feedback_8 {
    width: 18%;
    height: 48.5%;
    object-fit: cover;
    top: 15.6%;
    right: 0;
}
.feedback .img_feedback_9 {
    width: 18%;
    height: 21.8%;
    object-fit: cover;
    top: 65.6%;
    right: 7.8%;
}
/* Footer */
.footer {
    margin-top: 50px;
    padding: 45px 100px 38px;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    background: #fff;
}
.footer .main_content {
    display: flex;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 48px;
}
.footer .footer_info {
    width: 23%;
    margin-right: 136px;
}
.footer .footer_info .brand_name {
    color: #000;
    font-size: 2.4;
    font-weight: 700;
    margin-bottom: 50px;
}
.footer .footer_info .desc {
    color: #9f9f9f;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 15px;
}
.footer .footer_links {
    margin-right: 145px;
}
.footer .title {
    color: #9f9f9f;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 55px;
    display: block;
}
.footer .main_content .link_list {
    display: flex;
    flex-direction: column;
    gap: 46px;
}
.footer .main_content .link a {
    color: #000;
    font-size: 1.6rem;
    font-weight: 500;
}
.footer .main_content .footer_help {
    margin-right: 72px;
}
.footer .copy_right {
    margin-top: 35px;
    color: #000;
    font-size: 1.6rem;
    font-weight: 400;
}
